body {
  font-family: sans-serif;
  background-color:lightblue;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 40px;
}

p{
  font-size: 60px;
}

ul.a{
  list-style-type: square;
  text-decoration: underline;
  text-shadow: 3px 2px black;
  font-size: 60px;
}