body {
  font-family: sans-serif;
  background-color:lightblue;
}

h1{
  font-size: 20px;
}

h2{
  font-size: 20px;
}

p{
  display:inline-block;
  font-size: 30px;
  border-style: outset;
}

ul.a{
  list-style-type: square;
  text-decoration: underline;
  font-size: 30px;
}